*{
	margin:10px;
	padding:0px;
}
.a{
	width: 100;
	display:flex;
	align-items:right;
	margin-left:auto;
	}
	
.head{
	display:flex;
}
.btn{color:white;background-color:dimgray;border-radius:3px;padding:10px;display:flex;align-items:center;justify-content:space-between;}
.container{font-size:20px;background-color:white;}
.slideshow{display:flex;}
.row{
display:flex;align-items:center;width:100%}
.row .col {
width:80%;flex-direction:column;}
.row{
	display:flex;
}
.row .row .col{
display:flex;}